/* Brandon Daniels ~ WDD 222 ~ 10/17/2023 */
/* Brandon Daniels ~ WDD 222 ~ 11/1/2023 */

.bkg /* div for background of whole page */
{
    background-color: rgb(128, 128, 128);
}

.container /* div container for body element */
{
    background-color: white;
    border: 1px solid black;
    padding: 0%;
    min-width: 75%;
}

.bd
{
    margin-top: 1em;
    margin-bottom: 1em;
}

nav
{
  list-style: none;
  display: flex;
  justify-content: end;
  padding-right: 20%;
  font-size: large;
  background-color: black;
}

nav a
{
    display: inline-block;
    padding:0 7px;
    position: relative;
}

nav a:link{color: purple;}
nav a:visited{color: white;}
nav a:hover{color: green;}
nav a:focus{color: lightblue;}

#curPage:link{color: purple;}
#curPage:visited{color: red;}
#curPage:hover{color: green;}
#curPage:focus{color: lightblue;}

.nav-item:not(:last-child)::after
{
    content: "";
    border: 1px solid #e2e2e2;
    border-width: 1px 1px 0 0;
    position: absolute;
    right:-3px;
    top: 0;
    height: 100%;
}

.card /* header / footer */
{
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 0;
}

.header  /* header only changes */
{
    overflow: auto;
    display: flex;
    align-items: center;
   
}

.header h1
{
    display: flex;
    flex-wrap: nowrap;
    font-size: 60px;
    font-family: 'Bebas Neue', sans-serif;
    padding-top: .5em;
}

.header img 
{
    background: #555;
    margin-right: 10px;
    width: 100%;
    max-width: min-content;
    height: auto;
}

main
{
    min-height: 160px;
    font-family: 'Poppins', sans-serif;
}

h2
{
    text-align: center;
    font-weight: bold;
    padding: 1em;
    font-family: 'Bebas Neue', sans-serif;
}

table
{
    padding: .5em;
}

i
{
    margin-left: 5px;
}

#concerns
{
   margin-left: 9%; 
} 

#contactButton
{
    margin: 1em;
    position: relative;
    left: 40%;
}


.jumbotron p
{
    text-align: center;
}

textarea
{
    resize: none;
}

.carousel-item img
{
    max-height: 400px;
    width: 100%;
}

.carousel-control-prev 
{
    background-color: whitesmoke;
}
.carousel-control-next
{
    background-color: whitesmoke;
}

.row
{
    margin: 1em;
}

.bd a img
{
    
    width: 100%;
}

/* Media Queries change the text of the H1 element in our header for all pages
in order to resize the the header to make it more user friendly. */

@media (max-width: 991.98px) 
{ 
    .header h1
    {
        font-size: 2.5rem;
    }

    #concerns
    {
        margin-left: 0; 
    }
    
}

@media (max-width: 767.98px) 
{ 
    .header h1
    {
        font-size: 1.75rem;
    }
}